.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  &-spiner {
    justify-content: center;
  }

  &-centered {
    align-items: center;
    justify-content: center;
  }
}
